@model IEnumerable<RoxyBusinessPortolioApp.Models.ProjectModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Products</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            List of Products
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Sales</th>
                        <th>Price</th>
                        <th>Link</th>
                        <th>Img</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Sales</th>
                        <th>Price</th>
                        <th>Link</th>
                        <th>Img</th>
                    </tr>
                </tfoot>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Sales</td>
                        <td>@item.Price</td>
                        <td><a href="@item.Link">@item.Link</a></td>
                         <td><img src="~/Images/Projects/@item.Image" alt="Current Image" class="rounded" width="100px" height="100px" /></td>
                            <td>
                                <a asp-action="Edit" class="btn btn-sm btn-warning my-2" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Delete</a>
                            </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
